{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
<img id="background" src="{{asset('img/background2.jpg')}}" alt="">

<div id="profileContainer">

<div class="miniContainerProfile">
    <h4>Bonjour {{ app.user.pseudo }} !</h4>
    <h5><i class="fa-solid fa-medal"></i> Meilleurs scores par modes :</h5>
    {% for score in scoreTable%}
        {% if score.game.id == 1 %}
        <h6><i class="fa-solid fa-star"></i></i> Memory :{{ score.score }} points</h6>
        {% endif %}
        {% if score.game.id == 2 %}
        <h6><i class="fa-solid fa-star"></i></i> Type :{{ score.score }} points</h6>
        {% endif %}
         {% if score.game.id == 3 %}
        <h6><i class="fa-solid fa-star"></i></i> Generation :{{ score.score }} points</h6>
        {% endif %}
        

        {% endfor %}
    {# <h6><i class="fa-solid fa-star"></i></i> Memory :  pts</h6>
    <h6><i class="fa-solid fa-star"></i></i> Type : 450 pts</h6>
    <h6><i class="fa-solid fa-star"></i></i> Generation : 200 pts</h6> #}
</div>
<div class="miniContainerProfile">
    {% if is_granted('ROLE_ADMIN') %}
    <div class="btnProfile"><a href="{{ path('app_save_pokemon') }}"><i class="fa-solid fa-rotate"></i> Charger la base de données à partir de l'API</a></div>
    {% endif %}
    <div class="btnProfile"><a href="{{ path('app_ranking') }}"><i class="fa-solid fa-trophy"></i> Consulter le classement des joueurs</a></div>
    <div class="btnProfile"><a href="{{ path('app_game_mode') }}"><i class="fa-solid fa-gamepad"></i> Commencer une partie</a></div>
</div>

</div>

{% endblock %}
